* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: arial, sans-serif;
}

.background-brand {
  background-color: #a4acaf;
  color: #212121 !important;
}

.background-price {
  background-color: #53a4cf;
  color: #fff !important;
}

header {
  background-color: #212121;
  color: #fff;
  padding: 0.5rem 1rem;
  text-align: center;
}

@keyframes loading-page {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

main {
  margin-top: 2rem;
  animation: loading-page 2s;
}

.catalog {
  padding: 1rem;
  display: grid;
  grid-gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
}

.catalog-control {
  margin: 4rem 0 3rem;
  display: grid;
  grid-template-columns: 17rem;
  grid-gap: 0.5rem;
  justify-content: center;
}

@media (min-width: 840px) {
  .catalog-control {
    grid-template-columns: repeat(4, 17rem);
  }
}

.catalog-control .form-control {
  margin: 0 0.5rem;
  font-size: 1.1rem;
  display: grid;
  grid-template-columns: 3rem minmax(13rem, 15rem);
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 840px) {
  .catalog-control .form-control {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 980px) {
  .catalog-control .form-control {
    grid-template-columns: 3rem minmax(13rem, 15rem);
  }
}

.catalog-control .form-control label + * {
  outline: none;
  width: 100%;
  font-size: 1.1rem;
}

.catalog-control #filter-name {
  border: none;
  border-bottom: 1px solid #c0c0c0;
  outline: none;
  transition: all 0.2s;
}

.catalog-control #filter-name:focus {
  border-bottom: 1px solid #000;
}

@keyframes product-up {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.4rem);
  }
}

.product {
  background-color: #f2f2f2;
  overflow: hidden;
  position: relative;
}

.product:hover {
  animation: product-up 3s;
  cursor: pointer;
}

.product:focus {
  outline: none;
}

.product .product-figure {
  text-align: center;
}

.product .product-figure img {
  position: relative;
  z-index: 1;
  transition: transform 0.3s;
}

.product:focus .product-figure img {
  transform: scale(0.4) translate(100px, -80px);
}

.product .product-description {
  background-color: #fff;
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  transition: transform 0.3s;
}

.product:focus .product-description {
  transform: translateY(-160px);
}

.product .product-id {
  color: #919191;
}

.product .product-name {
  margin: 1rem 0 0.6rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.product .product-brands {
  display: flex;
}

.product .product-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  margin-right: 0.5rem;
  padding: 0.1rem 0.3rem;
  font-size: 0.8rem;
  font: bold;
}

.product .product-details {
  position: absolute;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: #fff;
  transform: translatey(300px);
  transition: all 0.3s;
}

.product:focus .product-details {
  transform: translatey(-180px);
}

.product .product-details .details-row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 0.5rem 0;
}

.product .product-details .details-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.product .product-details .details-bar-bg {
  background-color: #212121;
  color: #fff;
  padding: 0 0.2rem;
}
