* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Bebas Neue', cursive, arial, sans-serif;
}

.background-brand {
  background-color: #b4c1b8;
  color: #212121 !important;
}

.background-price {
  background-color: #d0a47d;
  color: #fff !important;
}

header {
  background-color: #d0a47d;
  color: #fff;
  padding: 1rem 2rem;
  text-align:start;
  font-size: 1.8rem;
  text-decoration: underline;
}

@keyframes loading-page {
  0%,
  80% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

main {
  margin-top: 2rem;
  animation: loading-page 2s;
}

.catalog {
  padding: 1rem;
  display: grid;
  grid-gap: 3rem 2rem;
  grid-template-columns: repeat(auto-fill, 250px);
  justify-content: center;
}

.catalog-control {
  margin: 4rem 0 3rem;
  display: grid;
  grid-template-columns: 17rem;
  grid-gap: 0.5rem;
  justify-content: center;
}

@media (min-width: 840px) {
  .catalog-control {
    grid-template-columns: repeat(4, 20rem);
  }
}

.catalog-control .form-control {
  margin: 0 0.5rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: 3rem minmax(13rem, 15rem);
  grid-gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 840px) {
  .catalog-control .form-control {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 980px) {
  .catalog-control .form-control {
    grid-template-columns: 3rem minmax(13rem, 15rem);
  }
}

.catalog-control .form-control label + * {
  outline: none;
  width: 100%;
  font-size: 1.5rem;
  font-family: 'Bebas Neue', cursive, arial, sans-serif;
}

.catalog-control #filter-name {
  border: none;
  border-bottom: 3px solid #f0d3c2;
  outline: none;
  transition: all 0.4s;
}

.catalog-control #filter-name:focus {
  border-bottom: 3px solid rgb(214, 210, 210);
}

@keyframes product-up {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.4rem);
  }
}

#form-control-brand {
  display: flex;
  gap: 0.8rem
}

#filter-brand, #filter-type, #sort-type  {
  border-radius: 10px;
  padding: 0.3rem 0.3rem;
  border: 3px solid #f0d3c2;
  vertical-align:middle;
}

.product {
  background-color: #deeceb;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
}

.product:hover {
  animation: product-up 3s;
  cursor: pointer;
}

.product:focus {
  outline: none;
}

.product .product-figure {
  text-align: center;
}

.product .product-figure img {
  position: relative;
  z-index: 1;
  transition: transform 0.3s;
  margin-top: 20px;
  border-radius: 5px;
}

.product:focus .product-figure img {
  transform: scale(0.4) translate(100px, -80px);
  margin-top: 0px;
}

.product .product-description {
  background-color: #fff;
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  transition: transform 0.3s;
  border-radius: 5px;
}
.product .product-description  h1{
  height: 125px;
} 

.product:focus .product-description {
  transform: translateY(-160px);
}

.product .product-id {
  color: #919191;
}

.product .product-name {
  margin: 1rem 0 0.6rem;
  font-size: 1.5rem;
  font-weight: normal;
}

.product .product-brands {
  display: flex;
}

.product .product-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3rem;
  margin-right: 0.5rem;
  padding: 0.1rem 0.3rem;
  font-size: 1rem;
  border-radius: 5px;
}

.product .product-details {
  position: absolute;
  width: calc(100% - 2rem);
  margin: 0 1rem 1rem;
  padding: 0.5rem;
  font-size: 0.8rem;
  background-color: #fff;
  transform: translatey(300px);
  transition: all 0.3s;
}

.product:focus .product-details {
  transform: translatey(-180px);
}

.product .product-details .details-row {
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin: 0.5rem 0;
  font-size: 1rem;
}

.product .product-details .details-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
}

.product .product-details .details-bar-bg {
  background-color: #d6af98;
  color: #fff;
  padding: 0 0.2rem;
  font-size: 1rem;
  border-radius: 5px;
}
